.places h1{
    font-size: 30px;

}

.places article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
}

.places article h2{
    font-size: 30px;
    text-align: center;
}
.places .price_by_night{
    color: #FF5A5F;
    border: #FF5A5F 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
}

.places .information{
    height: 80px;
    border-bottom: #DDDDDD 1px solid;
    border-top: #DDDDDD 1px solid;
}

.places .information .max_guest, .places .information .number_rooms, .places .information .number_bathrooms{
    width: 100px;
}

.places .user span{
    font-weight: bold;
}